.Basic {
    background: linear-gradient(to bottom, blue, gold);
    min-height: 100vh;
    color: white
}

.Detailed {
    background: linear-gradient(to bottom, blue, gold);
    min-height: 100vh;
    color: white
}