.form-popup {
  display: block;
  position: fixed;
  top: 10px;  /* Distance from the top of the screen */
  left: 10px; /* Distance from the left of the screen */
  border: 3px solid #f1f1f1;
  z-index: 9999;
  background-color: white;
  padding: 10px;
  max-width: 80%; /* Limits the width */
  max-height: 80%; /* Limits the height */
  overflow: auto;
}

/* Form container styling */
.form-container {
  width: 100%;
  max-width: 300px; /* Keep this to limit the form width */
}

/* Input field styling */
.form-container input[type="text"], .form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type="text"]:focus, .form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Submit/Login button styling */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

/* Hover effects */
.form-container .btn:hover {
  opacity: 1;
}
  